<mat-tab-group dynamicHeight mat-stretch-tabs> 
    <mat-tab label="Basic information">
       <div *ngIf="playerInfo"  style="padding:2%;text-align: center;width: 100%;">
            <div class="title">Name</div>
            <div class="info">{{playerInfo.basicInfo.name}}</div>
            <div class="title">Country</div>
            <div class="info">{{playerInfo.basicInfo.country}}</div>
            <div class="title">Batting skill</div>
            <div class="info">{{playerInfo.basicInfo.batting_skill}}</div>
            <div class="title">Bowling skill</div>
            <div class="info">{{playerInfo.basicInfo.bowling_skill}}</div>
        </div>
    </mat-tab> 
    <mat-tab label="Batting statistics">
        <div class="row" style="padding: 2%;">
            <div class="col-md-2">
                <div *ngIf="playerInfo" style="padding:2%;">
                    <div class="title">Matches</div>
                    <div class="info">{{playerInfo.battingStats.matches}}</div>
                    <div class="title">Runs</div>
                    <div class="info">{{playerInfo.battingStats.runs}}</div>
                    <div class="title">Fours</div>
                    <div class="info">{{playerInfo.battingStats.fours}}</div>
                    <div class="title">Sixes</div>
                    <div class="info">{{playerInfo.battingStats.sixes}}</div>
                    <div class="title">Fifties</div>
                    <div class="info">{{playerInfo.battingStats.fifties}}</div>
                    <div class="title">HS</div>
                    <div class="info">{{playerInfo.battingStats.hs}}</div>
                    <div class="title">Strike Rate</div>
                    <div class="info">{{playerInfo.battingStats.strike_rate}}</div>
                    <div class="title">Average</div>
                    <div class="info">{{playerInfo.battingStats.average}}</div>
                </div>        
            </div>
            <div class="col-md-10" style="display: flex;flex-direction: column;justify-content: center;">
                <div style="margin:1%;height: 70vh; width: 90%;">
                    <canvas #battingStatsChart></canvas>
                </div>
                <div style="display: flex;justify-content: center;">
                    <ul class="legend">
                        <li *ngFor="let color of battingLegendColors; let i = index"><span style="background-color: {{color}};"></span> {{battingLegendNames[i]}}</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </mat-tab> 
    <mat-tab label="Bowling statistics">
        <div class="row" style="padding: 2%;">
            <div class="col-md-2">
                <div *ngIf="playerInfo" style="padding:2%;">
                    <div class="title">Matches</div>
                    <div class="info">{{playerInfo.bowlingStats.matches}}</div>
                    <div class="title">Runs</div>
                    <div class="info">{{playerInfo.bowlingStats.runs}}</div>
                    <div class="title">Balls</div>
                    <div class="info">{{playerInfo.bowlingStats.balls}}</div>
                    <div class="title">Overs</div>
                    <div class="info">{{playerInfo.bowlingStats.overs}}</div>
                    <div class="title">Wickets</div>
                    <div class="info">{{playerInfo.bowlingStats.wickets}}</div>
                    <div class="title">Economy</div>
                    <div class="info">{{playerInfo.bowlingStats.economy}}</div>
                    <div class="title">Five wicket hauls</div>
                    <div class="info">{{playerInfo.bowlingStats.five_wickets}}</div>
                </div>      
            </div>
            <div class="col-md-10">
                <div style="margin:1%;height: 80vh;">
                    <canvas #bowlingStatsChart></canvas>
                </div>
            </div>
        </div>
    </mat-tab> 
</mat-tab-group>
