.sidenav-container { 
    overflow: auto;
    flex-grow: 1;
}
.sidenav{
        width: 14%;
        border-right: none;
        background: white;
        color: white;
        padding: 10px;
        padding-top: 0px;
}
.nav-link{
    padding: 5%;
}

.active-link{
    color: blue;
    background-color: rgba($color: blue, $alpha: 0.1);
}