<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Toggle menu" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="true" class="sidenav-container">
  <mat-sidenav #sidenav mode="push" class="sidenav">
    <mat-nav-list>
      <div mat-list-item *ngFor="let link of links">
        <div  class="nav-link">
          <a [routerLink]="link.path" (click)="sidenav.close()"> {{link.name}}</a>
        </div>
        <mat-divider></mat-divider>
      </div>
   </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
