.playing-eleven{
    width: 30%;
    margin-bottom: 1%;
}

.innings-table{
    width: 96%;
    display: table;
    table-layout: fixed;
    margin: 2%;
}

.summary-table{
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0%;
}